---
import Stats from '../components/Stats.astro';
import HeroSection from '../components/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../components/Testimonials.astro';
import CallToAction from '../components/CallToAction.astro';
import BentoGrid from '@components/BentoGrid.astro';
import SpeedSection from '@components/SpeedSection.astro';
import AboutSection from '@components/AboutSection.astro';
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-16 sm:space-y-28 lg:space-y-32 pb-40 overflow-clip">
		<HeroSection/>
		<AboutSection />
		<BentoGrid />
		<SpeedSection />
		<Stats/>
		<Testimonials/>
		<CallToAction/>
	</main>
</Layout>