<div class="relative p-2 bg-gray-950/5 backdrop-blur-2xl ring-1 ring-gray-950/10 dark:ring-gray-950/25 rounded-md border border-white/50 dark:bg-white/5 dark:border-white/5">
    <div class="absolute inset-1 flex justify-between">
    <div class="flex flex-col justify-between">
        <div class="size-[3px] rounded-full bg-gray-950/30 dark:bg-white/15"></div>
        <div class="size-[3px] rounded-full bg-gray-950/30 dark:bg-white/15"></div>
    </div>
    <div class="flex flex-col justify-between">
        <div class="size-[3px] rounded-full bg-gray-950/30 dark:bg-white/15"></div>
        <div class="size-[3px] rounded-full bg-gray-950/30 dark:bg-white/15"></div>
    </div>
    </div>
    <slot />
</div>