---
import { cn } from "@lib/utils";
import Container from "./Container.astro";
import {elevatedGradientVariant as card} from "@tailus/themer-card"
---

<section>
    <Container>
        <div class="aspect-video rounded-[--card-border-radius] bg-gray-100 dark:bg-gray-950">
            <div class="max-w-2xl mx-auto">
                
            </div>
        </div>
    </Container>
</section>