---
import Container from "./Container.astro";
---

<section class="scroll-mt-24" id="solution">
    <Container>
      <svg class="w-full max-w-3xl mx-auto" viewBox="0 0 909 197" fill="none" xmlns="http://www.w3.org/2000/svg"> 
        <path class="text-gray-300 dark:text-accent-500" d="M3 116.543C55.0537 109.564 51.5835 151.024 120.121 157.073C188.658 163.122 207.745 120.78 238.977 108.682C270.209 96.5848 284.09 41.4576 336.144 45.1799C388.198 48.9023 414.225 86.1994 457.603 90.8523C500.981 95.5052 509.656 126.363 550.432 149.163C591.207 171.962 628.512 174.754 679.699 170.101C730.885 165.448 744.766 118.404 769.058 116.543C793.349 114.682 815.038 137.115 835.86 142.234C856.681 147.352 862.754 170.101 907 170.101" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path class="text-primary-600" d="M2 181.794C41.8055 175.629 74.5382 138.034 122.033 131.715C147.348 128.347 167.627 134.902 190.254 145.088C212.88 155.273 208.451 159.671 259.338 167.524C301.331 174.004 312.315 104.14 353.465 106.825C394.614 109.509 413.646 25.5119 457.091 32.5236C500.535 39.5353 509.216 21.4067 550.054 55.7643C590.892 90.1218 628.622 10.0367 679.886 3.02493C731.151 -3.98681 744.503 70.4346 768.832 67.6299C793.161 64.8252 815.066 117.855 835.92 125.568C856.773 133.281 862.686 105.263 907 105.263" stroke="currentColor" stroke-opacity="0.87" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M122.033 131.715C74.5382 138.034 41.8055 175.629 2 181.794V197H907V105.263C862.686 105.263 856.773 133.281 835.919 125.568C815.066 117.855 793.161 64.8252 768.832 67.6299C744.503 70.4346 731.151 -3.98681 679.886 3.02493C628.622 10.0367 590.892 90.1218 550.054 55.7643C509.216 21.4067 500.535 39.5353 457.091 32.5236C413.646 25.5119 394.614 109.509 353.465 106.825C312.315 104.14 301.331 174.004 259.338 167.524C208.451 159.671 212.88 155.273 190.254 145.088C167.627 134.902 147.348 128.347 122.033 131.715Z" fill="url(#paint0_linear_0_1)" style=""/>
        <defs>
          <linearGradient id="paint0_linear_0_1" x1="454.5" y1="2.55859" x2="454.5" y2="278.334" gradientUnits="userSpaceOnUse">
            <stop class="text-primary-500" stop-color="currentColor" stop-opacity="0.2"/>
            <stop class="text-white dark:text-transparent" offset="0.9" stop-color="currentColor" stop-opacity="0"/>
          </linearGradient>
        </defs>
      </svg>

        <div class="mt-12 grid sm:grid-cols-2 gap-4 sm:gap-12 max-w-3xl w-full mx-auto">
          <div>
              <h2 class="text-gray-950 dark:text-white text-2xl font-semibold">Make work flow across teams while connecting back to company goals</h2>
          </div>
          <div class="space-y-3">
              <p class="text-gray-600 dark:text-gray-400">Natus ad ipsum pariatur autem, <span class="text-gray-950 dark:text-white font-medium">fugit laborum in atque</span> amet obcaecati? Nisi minima aspernatur, quidem nulla cupiditate nam consequatur eligendi magni adipisci.</p>
              <p class="text-gray-600 dark:text-gray-400">Nisi minima aspernatur, quidem nulla cupiditate nam consequatur eligendi magni adipisci.</p>
          </div>
      </div>
    </Container>
</section>
