---
import BaseHead from "@components/BaseHead.astro";
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
    <head>
       <BaseHead />
    </head>
    <body class="overflow-x-hidden bg-white dark:bg-gray-950">
        <AppHeader />
        <slot />
        <AppFooter />
    </body>
</html>