---
import { AstroFont } from 'astro-font';
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" media="(prefers-color-scheme: light)" />
        <link rel="icon" type="image/svg+xml" href="/darkfavicon.svg" media="(prefers-color-scheme: dark)" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content="Template built with tailwindcss using Tailus blocks v2" />
        <title>Astrolus 2 - A tailus template</title>
    </head>
    <body class="bg-white dark:bg-gray-900 dark:before:fixed dark:before:inset-0 dark:before:-z-50 dark:before:bg-gray-950/50">
        <AppHeader />
        <slot />
        <AppFooter />
    </body>
</html>
<style>
    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0;
    }
</style>
